@import "tailwindcss";

@theme {
  --color-background: #0d1117;
  --color-surface: #161b22;
  --color-surface-hover: #1f2630;

  --color-border: #30363d;

  --color-primary: #58a6ff;
  --color-secondary: #8b949e;
  --color-tertiary: #da9600;

  --color-foreground: #e6edf3;
  --color-foreground-muted: #8b949e;

  --color-success: #3fb950;
  --color-danger: #f85149;

  --radius-xl: 12px;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}
